<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div id="element1"><h2><fa name="chevron-left" class="chevron" routerLink="/home" tooltip="Back to Dashboard" placement="right"></fa>  Poetry</h2></div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Memory</h5>
          <hr />
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="/memory" class="btn btn-danger btn-block btn-sm">Read</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Money Talks Bullshit Walks</h5>
          <hr />
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/money-talks-bullshit-walks" class="btn btn-danger btn-block btn-sm">Read</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Memory</h5>
          <hr />
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="" class="btn btn-danger btn-block btn-sm">Read</a>
        </div>
      </div>
    </div>
  </div>
</div>
