<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div id="element1"><h2><fa name="chevron-left" class="chevron" routerLink="/poetry" tooltip="Back to Dashboard" placement="right"></fa>  Memory</h2></div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12">
      <p class="poetry-text">Memory is<br />
        a fragile thread<br />
        Thick in places<br />
        thin in most<br />
        at times the<br />
        strands that connect<br />
        present to past<br />
        appear to be broken<br />
        invisible even<br />
        so much so<br />
        that large chunks<br />
        of our lives<br />
        lie beyond our<br />
        ability to recall them<br />
      </p>
      <p class="poetry-text">
        Events that linger<br />
        are allied to<br />
        happier times<br />
        when life burns bright<br />
        and the flicker of light<br />
        illuminates the paths<br />
        we wish to retrace<br />
        Shrouded in shadow<br />
        is the road<br />
        less well traveled<br />
        those darkened<br />
        trails of turbulence<br />
        pitted with pot holes<br />
        that conspired to<br />
        derail our momentum<br />
      </p>

      <p class="poetry-text">
        Yet ever forward<br />
        we traverse<br />
        because in life<br />
        there is no reverse<br />
        Time propels us forward<br />
        in a clockwise fashion<br />
        with every second<br />
        tick-tocked<br />
        by the clock<br />
        Our brains<br />
        store each moment<br />
        categorising<br />
        prioritising<br />
        segmenting<br />
        classifying<br />
        squirelling away<br />
        nuts of nuance<br />
        and notion<br />
        deposited in banks<br />
        of varying interest<br />
      </p>

      <p class="poetry-text">
        Withdrawal is not guaranteed<br />
        irrespective of the balance<br />
      </p>
    </div>
  </div>
</div>
