<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <img class="logo" src="assets/blackonwhitelogo.png" />
    </div>
    <div class="col-sm-4">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 category-header">
      <h3>Poetry</h3>
      <hr class="category" />
      <p class="category-text">
        Some bullshit text in here. Some bullshit text in here. Some bullshit text in here.
        Some bullshit text in here. Some bullshit text in here. Some bullshit text in here.
      </p>
      <div class="row">
        <div class="col-sm-6">
          <button type="button" class="btn btn-danger btn-sm btn-block button-spacer" routerLink="/poetry">View</button>
        </div>
        <div class="col-sm-6">
          <button type="button" class="btn btn-danger btn-sm btn-block button-spacer" routerLink="/request-poetry">Request</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4 category-header">
      <h3>Lyrics</h3>
      <hr />
      <p class="category-text">
        Some bullshit text in here. Some bullshit text in here. Some bullshit text in here.
        Some bullshit text in here. Some bullshit text in here. Some bullshit text in here.
      </p>
      <div class="row">
        <div class="col-sm-6">
          <button type="button" class="btn btn-danger btn-sm btn-block button-spacer" routerLink="/lyrics">View</button>
        </div>
        <div class="col-sm-6">
          <button type="button" class="btn btn-danger btn-sm btn-block button-spacer" routerLink="/request-lyrics">Request</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h3 class="category-header">Fiction</h3>
      <hr />
      <p class="category-text">
        Some bullshit text in here. Some bullshit text in here. Some bullshit text in here.
        Some bullshit text in here. Some bullshit text in here. Some bullshit text in here.
      </p>
      <div class="row">
        <div class="col-sm-6">
          <button type="button" class="btn btn-danger btn-sm btn-block button-spacer" routerLink="/fiction">View</button>
        </div>
        <div class="col-sm-6">
          <button type="button" class="btn btn-danger btn-sm btn-block button-spacer" routerLink="/request-fiction">Request</button>
        </div>
      </div>
    </div>
  </div>
</div>
