<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <h3 class="category-header">Sign In</h3>
      <hr />
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" #userName required>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" #userPassword required>
      </div>

      <!-- Calling SignIn Api from AuthService -->
      <div class="form-group">
        <input type="button" class="btn btn-danger btn-block btn-small" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>

      <div class="button-spacer">
        <button type="button" class="btn btn-block btn-danger btn-small" routerLink="/forgot-password">Forgot Password?</button>
      </div>

      <div>
        <p class="button-spacer category-header">Don't have an account?</p>
        <button type="button" class="btn btn-block btn-danger btn-small" routerLink="/sign-up">Sign Up</button>
      </div>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>
