<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div id="element1"><h2><fa name="chevron-left" class="chevron" routerLink="/poetry" tooltip="Back to Dashboard" placement="right"></fa>  Money Talks Bullshit Walks</h2></div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-12 poetry-text">
      <p>
        Show me a Cent<br />
        And I'll tell you where he went<br />
      </p>
      <p>
        Show me a Dime<br />
        And I'll tell you the time<br />
      </p>
      <p>
        Show me a Dollar<br />
        And I'll help you to follow<br />
      </p>
      <p>
        Show me a Penny<br />
        And you won't get any<br />
      </p>
      <p>
        Show me a Pound<br />
        And I'll lend you my hound<br />
      </p>
      <p>
        Show me a Franc<br />
        He helped rob the bank<br />
      </p>
      <p>
        Show me a Mark<br />
        He ran througn the park<br />
      </p>
      <p>
        Show me a Yen<br />
        'Cause I see him now and then<br />
      </p>
      <p>
        Show me a Reubel<br />
        And I will tell all<br />
      </p>
      <p>
        'Cause money talks<br />
        bullshit walks<br />
      </p>
    </div>
  </div>
</div>
