.logo {
  width: 100%;
  height: 100%;
}

.headers {
  text-align: center;
}

hr {
  border: 1px solid red;
  opacity: 0.3;
}

.category-header {
  text-align: center;
}

.category-text {
  text-align: justify;
}

.button-spacer {
  margin-top: 10px;
}
